.main_center {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    
}

.lider_img {
    margin-right: 100px;
    object-fit: cover;
    width: 550px;
    height: 600px;
    border-radius: 20px;
    float: left;
}
.text_container {
    display: inline-block;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    
}

.text_container2 {
    display: inline-block;
    display: flex;
    margin-right: 40px;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    color: rgb(30, 30, 30);
}

.text_container3 {
    display: inline-block;
    display: flex;
    margin-right: 100px;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    
}
.text_begin {
    display: block;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(30, 30, 30);
}

.text_begin_not_margin {
    display: block;
    font-size: 40px;
    font-weight: bold;
    color: rgb(30, 30, 30);
}

.text_two {
    font-size: 24px;
    margin-bottom: 30px;
    padding-right: 20px;
    color:rgb(30, 30, 30);
}


/* Стили кнопок */
.look {
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
}
.look:hover
{
    background-color: rgb(228, 100, 45);
    border: none;
}

.look_breakfast {
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.look_breakfast:hover
{
    background-color: #e6ddc6;
    border: none;
}

.look_lunch {
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.look_lunch:hover {
    background-color: #885E46;
    border: none;
}

.look_dinner {
    display: block;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    border: none;
    color: rgb(30, 30, 30);
    font-weight: bold;
}

.look_dinner:hover {
    background-color: #53712a;
    border: none;
}

.container {
    display: flex;
    flex-direction: row;
}
.img_element {
    margin-top: 130px;
    object-fit: cover;
    width: 800px;
    height: 400px;
    border-radius: 0 20px 20px 0px;
    float: left;
    margin-right: 50px;
    cursor: pointer;
}

.img_element2 {
    margin-top: 130px;
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 0 20px 20px 0px;
    float: left;
    margin-right: 50px;
    cursor: pointer;
}

.img_element_two {
    margin-top: 130px;
    object-fit: cover;
    width: 400px;
    height: 400px;
    border-radius: 20px 0px 0px 20px;
    float: left;
    cursor: pointer;
}

.img_element_two2 {
    margin-top: 130px;
    object-fit: cover;
    width: 800px;
    height: 400px;
    border-radius: 20px 0px 0px 20px;
    float: left;
    cursor: pointer;
}

.flex_bloсk {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recepts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.recept {
    margin-top: 50px;
    margin-left: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    height: 300px;
}

.img_recept {
    object-fit: cover;
    margin-bottom: 10px;
    width: 540px;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;

}

.name_img {
    font-size: 24px;
    text-align: center;
}

a {
    text-decoration: none;
    color:rgb(30, 30, 30);
}

.margin {
    margin-bottom: 80px;
}


.hover-image {
    display: inline-block; 
  }
  .hover-image img{
    transition: 0.3s; /* Время эффекта */
    display: block; 

  }
  .hover-image .lider_img:hover {
    transform: scale(0.9) rotate(-5deg);
  }

  .hover-image .img_recept:hover {
    transform: scale(0.9);
  }

  /* lider */
  .hover-image button {
    transition: 0.3s; /* Время эффекта */
    display: block; 
  }
  .hover-image button:hover {
    transform: scale(1.1);
  }

button:hover {
    cursor: pointer;
}

.up {
        display: block;
        width: 200px;
        height: 60px;
        background-color: transparent;
        border-radius: 15px;
        font-size: 18px;
        border: none;
        color: rgb(30, 30, 30);
        font-weight: bold;
        margin-top: 60px;
        text-align: center;
}